{% load static %}

<nav class="navbar">
    <a href="{% url 'index' %}" class="logo">
        <div class="logo-container">
            <img  src="{% static 'image/logo.png' %}" alt="Pure Smile"  />
        </div>
    </a>


    
    <ul class="nav-links">
        <li><a href="{% url 'index' %}">الرئيسية</a></li>
        <li><a href="{% url 'cart_summary' %}">السلة
            <span class= "badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity"> {{ cart|length }} </span></a>
        </li>
        <li><a href="{% url 'search' %}"> بحث </a></li>
            
        </li>
        
        <!-- إضافة قائمة تصنيف مع خيارات -->
        <li class="dropdown">
            <a href="#" class="dropbtn">تصنيف</a>
            <div class="dropdown-content">
                <a href="{% url 'index' %}?category=first">كل المنتجات </a>
                <a href="{% url 'category' 'ITENA'%}?category=second">ITENA</a>
                <a href="{% url 'category' 'DIA DENT'%}?category=therd">DIA DENT</a>
                <a href="{% url 'category' 'FUJI'%}?category=Fourth"> FUJI </a>
                <a href="{% url 'category' 'EVEREST'%}?category=Fifth">EVEREST</a>
                <a href="{% url 'category' 'TETRIC'%}?category=Sixth">TETRIC</a>
                <a href="{% url 'category' 'LUSTER DENT'%}?category=Seventh">LUSTER DENT</a>
                <a href="{% url 'category' 'Collactions'%}?category=eighth">Collactions</a>
            </div>
        </li>
        
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">تسجيل خروج</a></li>
            <li><a href="{% url 'update_info' %}"> تعديل معلومات الحساب </a></li>
            <li><a href="{% url 'update_user' %}"> تعديل الحساب </a></li>
        {% else %}
            <li><a href="{% url 'login' %}">تسجيل دخول</a></li>
            <li><a href="{% url 'accounts' %}">انشاء حساب</a></li>
        {% endif %}
    </ul>
</nav>

<!-- إضافة تنسيق للقائمة المنسدلة (Dropdown) -->
<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color:rgba(44, 29, 177, 0.69);
        min-width: 160px;
        box-shadow: 0px 8px 16px rgba(212, 20, 20, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black; /* تغيير لون الخط إلى الأسود */
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color:rgb(5, 5, 5);
    }
</style>
